include firestarter/data/database.json
include firestarter/data/pin-maps.json
include firestarter/data/avrdude.conf
include firestarter/database.py
include firestarter/ic_layout.py
include firestarter/avr_tool.py
include firestarter/main.py
include firestarter/__init__.py
include README.md
include LICENSE
